<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<!-- No styling here. Designed for pre-HTML5. if HTML5 is used, remove trailing slashes from inputs -->

<form action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" id="onesearch-form" method="get">
	<!-- You may change the label's text but you must include a label for ADA compliance. -->
	<label for="onesearch-query" id="onesearch-label">Keywords: </label> 

	<!-- hidden below line is mandatory -->
	<input name="query" type="hidden" value="any,contains," /> <input id="onesearch-query" name="query" type="text" /> 

	<!--update per college. value should be arc, crc, flc or scc. --> 
	<input name="vid" type="hidden" value="01CACCL_LRCCD:flc" /> <input type="submit" value="Search" /> 

	<!-- radio buttons-->
	<div>
	<input id="onesearch-everything" name="facet" type="radio" value="" checked/> <label for="onesearch-everything">Everything</label> 
	
	<input id="onesearch-books-libraries" name="facet" type="radio" value="tlevel,include,available_p" /> <label for="onesearch-books-libraries">Books &amp; Videos in the Library</label> 
	
	<input id="onesearch-scholarly" name="facet" type="radio" value="tlevel,include,peer_reviewed" /> <label for="onesearch-scholarly" type="radio">Scholarly Journals</label> 
	
	<input id="onesearch-video" name="facet" type="radio" value="rtype,include,videos" /> <label for="onesearch-video" type="radio">Videos</label>
	</div>

</form>

<script type="text/javascript">
	function sendSearch(keywords, limiters)
	{
    
	var college = 'flc'; // update per college. value should be arc, crc, flc or scc.
    var urlBase = 'https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search?query=';
	var searchParams = '&tab=everything&search_scope=' + college + '_everything&vid=01CACCL_LRCCD:' + college;
    var query = 'any,contains,' + keywords;
    
    if (keywords !== '')
    {
        var suffix = '';
        if (limiters !== '')
        {
            suffix = limiters;
        }

    // location.href = urlBase + query + searchParams + suffix;
	// optional - open in new window/tab - only do this if you have a widget e.g. Canvas. Comment out line above, uncomment line below
	 window.open(urlBase + query + searchParams + suffix);
    }
    else
    { 
		// sometimes people don't put in search terms - in that case, send to home screen
        // location.href = urlBase;
		// comment out line above and uncomment line below if opening in new window
		window.open(urlBase);
    }
}
document.getElementById('onesearch-form').addEventListener('submit', function(e)
{
    e.preventDefault();
    var keywords = document.getElementById('onesearch-query').value;
    var limit;
	
    if (document.getElementById('onesearch-books-libraries').checked)
    {
        limit = '&facet=tlevel,include,available_p';
    }
    else if (document.getElementById('onesearch-scholarly').checked)
    {
        limit = '&facet=tlevel,include,peer_reviewed';
    }
    else if (document.getElementById('onesearch-video').checked)
    {
        limit = '&facet=rtype,include,videos';
    }
    else
    {
        limit = '';
    }
    sendSearch(keywords, limit);
});
</script>

