<!--Reserves search form FLC; last updated SP19-->

<div id="reserves-search-form">
	<form action="https://search.ebscohost.com/" id="reservessearch" name="reservessearch">
		<input name="authtype" type="hidden" value="ip,guest" /> 
		<input name="direct" type="hidden" value="true" /> 
		<input name="custid" type="hidden" value="ns015092" /> 
		<input name="site" type="hidden" value="eds-live" /> 
		<input name="groupid" type="hidden" value="main" /> 
		<input name="profile" type="hidden" value="eds" /> 
		<input name="cli0" type="hidden" value="FC" /> 
		<input name="clv0" type="hidden" value="Y" />

		<div class="column1">
		<strong><label for="Department">Department (e.g. Math) </label></strong>
		<select class="input-medium" id="Department" name="bquery">
			<option selected="selected" value="">Select</option>
			<option value="ACCT">ACCT - Accounting</option>
			<option value="ADMJ">ADMJ - Administration of Justice</option>
			<option value="AH">AH - Allied Health</option>
			<option value="ANTH">ANTH - Anthropology</option>
			<option value="ART">ART - Art</option>
			<option value="ARTH">ARTH - Art History</option>
			<option value="ASTR">ASTR - Astronomy</option>
			<option value="BIOL">BIOL - Biology</option>
			<option value="BUS">BUS - Business</option>
			<option value="BUSTEC">BUSTEC - Business Technology</option>
			<option value="CHEM">CHEM - Chemistry</option>
			<option value="CISC">CISC - Computer Info Science - Core</option>
			<option value="CISN">CISN - Computer Info Science - Network</option>
			<option value="CISP">CISP - Computer Info Science - Program</option>
			<option value="CISS">CISS - Computer Info Science - Security</option>
			<option value="CISW">CISW - Computer Info Science - Web</option>
			<option value="COMM">COMM - Communication</option>
			<option value="DANCE">DANCE - Dance</option>
			<option value="ECE">ECE - Early Childhood Education</option>
			<option value="ECON">ECON - Economics</option>
			<option value="EMT">EMT - Emergency Medical Technician</option>
			<option value="ENGR">ENGR - Engineering</option>
			<option value="ENGCW">ENGCW - English Creative Writing</option>
			<option value="ENGED">ENGED - English Education</option>
			<option value="ENGLB">ENGLB - English Laboratory</option>
			<option value="ENGLT">ENGLT - English Literature</option>
			<option value="ENGRD">ENGRD - English Reading</option>
			<option value="ENGWR">ENGWR - English Writing</option>
			<option value="ESL">ESL - English as a Second Language</option>
			<option value="ESLG">ESLG - ESL Grammar</option>
			<option value="ESLL">ESLL - ESL Listening</option>
			<option value="ESLR">ESLR - ESL Reading</option>
			<option value="ESLW">ESLW - ESL Writing</option>
			<option value="ENVT">ENVT - Environmental Technology</option>
			<option value="FREN">FREN - French</option>
			<option value="GEOG">GEOG - Geography</option>
			<option value="GEOL">GEOL - Geology</option>
			<option value="GERON">GERON - Gerontology</option>
			<option value="HEED">HEED - Health Education</option>
			<option value="HIST">HIST - History</option>
			<option value="HCD">HCD - Human Career Development</option>
			<option value="HUM">HUM - Humanities</option>
			<option value="INDIS">INDIS - Interdisciplinary Studies</option>
			<option value="KINES">KINES - Physical Education - Kinesiology</option>
			<option value="LIBR">LIBR - Library</option>
			<option value="LTAT">LTAT - Learn Tutor Acad Tech</option>
			<option value="MAKR">MAKR - Modern Making</option>
			<option value="MGMT">MGMT - Management</option>
			<option value="MKT">MKT - Marketing</option>
			<option value="MATH">MATH - Mathematics</option>
			<option value="MEDTEC">MEDTEC - Medical Technology</option>			
			<option value="MUFHL">MUFHL - Music Fundamentals, History &amp; Lit</option>
			<option value="MUIVI">MUIVI - Instrumental/Voice Instruction</option>
			<option value="MUSM">MUSM - Specializations in Music</option>
			<option value="NUTRI">NUTRI - Nutrition and Foods</option>
			<option value="PHIL">PHIL - Philosophy</option>
			<option value="PACT">PACT - Personal Activities</option>
			<option value="PS">PS - Physical Science</option>
			<option value="PHYS">PHYS - Physics</option>
			<option value="POLS">POLS - Political Science</option>
			<option value="PRJMGT">PRJMGT - Project Management</option>
			<option value="PSYC">PSYC - Psychology</option>
			<option value="RE">RE - Real Estate</option>
			<option value="SILA">SILA - Sign Language Studies</option>
			<option value="SWHS">SWHS - Social Work/Human Services</option>
			<option value="SOC">SOC - Sociology</option>
			<option value="SPAN">SPAN - Spanish</option>
			<option value="SPORT">SPORT - Sports</option>
			<option value="STAT">STAT - Statistics</option>
			<option value="TA">TA - Theatre Arts</option>
			<option value="TAP">TAP - Theatre Arts Performance</option>
			<option value="TMACT">TMACT - Team Activities</option>
			<option value="VITI">VITI - Viticulture</option>
			<option value="WEXP">WEXP - Work Experience</option>
		</select>
		</div>
	
	<div class="column1">
	<label for="CourseNumber"><br /><strong>Number (e.g. 300) </strong></label> 
	<input id="CourseNumber" name="bquery" placeholder="e.g. 300" title="Examples: 101, 300, 312. If you're not sure, leave it blank." type="text" />
	</div>
	
	<div class="column1">
	<label for="ProfessorsLastName"><br /><strong>Professor's Last Name</strong></label> 
	<input autocomplete="off" class="typeahead" id="ProfessorsLastName" name="bquery" placeholder="Last name only" type="text" />
	</div>
	
	<div class="column1">
	<label for="TitleWords" title="Author's last name or book title, or leave it blank."><br /><strong>Title or Author (optional) </strong></label> 
	<input autocomplete="off" id="TitleWords" name="bquery" type="text" />
	</div>
	
	<input name="bquery" type="hidden" value=" &quot;on reserve&quot;" /> 
	<input name="bquery" type="hidden" value="(flc OR edc)" />
	
	<div id="submit-area"><br />
	<input class="reservessubmit" id="reservessubmit-flc" type="submit" value="Find It" />
	</div>
	
	</form>
</div>


<p>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		var department = document.getElementById('Department');
		var courseNum = document.getElementById('CourseNumber');
		var profName = document.getElementById('ProfessorsLastName');
		var keywords = document.getElementById('TitleWords');
		var college = '(flc OR edc)';
		var custid = 'ns015092';
		var framed = 'no';

		function showError(field, text, eventLabel) {
		
		// ga('localsiteTracker.send', 'event', 'home-search-widget', 'error', eventLabel );
			var formDiv = document.getElementById('reserves-search-form');
			var errorDiv = document.createElement('div');
			errorDiv.setAttribute('class', 'errortext');
			field.className += ' error';
			formDiv.appendChild(errorDiv);
		
		//  formDiv.insertBefore(errorDiv, formDiv.childNodes[0]);
			errorDiv.innerHTML = text;
			field.select();
		}

		function reserveQValidator() {
			var msg = document.querySelector('.errortext');
			var errDiv = document.querySelector('.error');
			
			if (msg) {
				msg.parentNode.removeChild(msg);
				var classRestore = errDiv.className.replace(/error/, '');
				errDiv.setAttribute('class', classRestore);
			}
  
			var numExp = /^[0-9]{2,3}([.][0-9]{1})?$/;
			var alphaExp = /^\s*[A-Za-z-_\']+$/;
			var courseNum = document.getElementById('CourseNumber');
			var profName = document.getElementById('ProfessorsLastName');
			var x = courseNum.value;
			var y = profName.value;
  
			if ((x !== '') && (numExp.test(x) === false)) {
				showError(courseNum, 'The course number is usually 2 or 3 digits. Examples are 100, 300, and 310. If you’re not sure, leave it blank.', 'reserves - course number');
				return false;
			}
  			else if ((y !== '') && (alphaExp.test(y) === false)) {
				showError(profName, 'Please type <em>only the last name</em>, with no spaces or punctuation. If you’re not sure, leave it blank.', 'reserves - prof names');
				return false;
			}
			else {
				var query = department.value+' '+courseNum.value+' '+profName.value+' '+keywords.value+' "on reserve" '+college;
				reserveSearch(query);
				return false;
			}
		}

		function reserveSearch(query) {
			location.href='https://search.ebscohost.com/login.aspx?authtype=ip,guest&direct=true&custid='+custid+'&groupid=main&profile=eds&site=eds-live&scope=site&cli0=FC&clv0=Y&bquery='+encodeURIComponent(query); 
			console.log(query);
			return false;
		}
		
		$(document).ready(function() {
			$( '#reservessearch' ).submit(function(event) {
				reserveQValidator();
					if (framed === 'no') { // when it is in guide on the side, will open in new window
						event.preventDefault();
					}
				});
			});
	</script>
</p>