

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- No styling here. Designed for pre-HTML5. if HTML5 is used, remove trailing slashes from inputs -->

<form action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" id="onesearch-form" method="get">
	<!-- You may change the label's text but you must include a label for ADA compliance. -->
	<label for="onesearch-query" id="onesearch-label">Keywords: </label> 

	<!-- hidden below line is mandatory -->
	<input name="query" type="hidden" value="any,contains," /> 
	<input id="onesearch-query" name="query" type="text" /> 

	<!-- radio buttons-->
	<div>
	<input id="onesearch-everything" name="facet" type="radio" value="" checked/> <label for="onesearch-everything">Everything</label> 
	
	<input id="onesearch-books-libraries" name="facet" type="radio" value="tlevel,include,available_p" /> <label for="onesearch-books-libraries">Books &amp; Videos in the Library</label> 
	
	<input id="onesearch-scholarly" name="facet" type="radio" value="tlevel,include,peer_reviewed" /> <label for="onesearch-scholarly" type="radio">Scholarly Journals</label> 
	
	<input id="onesearch-video" name="facet" type="radio" value="rtype,include,videos" /> <label for="onesearch-video" type="radio">Videos</label>
	</div>
	
	<!--update per college. value should be arc, crc, flc or scc. --> 
	<input type="hidden" name="search_scope" value="flc_everything">
	<input name="vid" type="hidden" value="01CACCL_LRCCD:flc" /> 
	<input type="submit" value="Search" /> 

</form>

<script>
// each of our websites uses jQuery so might as well simplify code by using it. If testing this outside of the website, need to include jQuery
	jQuery(document).ready(function ($) { // this is safe way to start jQuery function--sometimes dollar sign is used for other things
		$('#onesearch-form').on('submit', function (e) {
			e.preventDefault();
			var form = $(this);
			var kw = $('#onesearch-query').val();
			var baseURL = form.attr('action');
			var vid = form.find('input[name="vid"]').val();
			var scope = form.find('input[name="search_scope"]').val();
			if (kw === '') { // if no query is entered, go to Primo home page
				location.href = baseURL + '?vid=' + vid;
			} else {
				var facet = '';
				if (form.find('option').length) {
					facet = form.find('option:selected').val();
				}
				else if (form.find('input[type="radio"]').length) {
					facet = form.find('input[type="radio"]:checked').val();
				}
				location.href = baseURL + '?query=any,contains,' + kw + '&tab=everything&search_scope=' + scope + '&vid=' + vid + '&facet=' + facet;
			}
		});
	});
</script>
