<form id="onesearch-form" action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" method="get">
<div><!-- You may change the label's text but you must include a label for ADA compliance. If you prefer to hide it, use absolute positioning so as not to remove it from logical flow of text for screen readers --><label id="onesearch-label" class="hidelabel" for="onesearch-query">Enter your keywords:</label></div>
<div class="input-group mb-2"><!-- hidden below line is mandatory --><input type="hidden" name="query" value="any,contains," /><input type="text" name="query" id="onesearch-query" /><span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i> Search </button></span></div>
<div id="lib-form-hidden"><input type="hidden" name="search_scope" value="flc_everything" /><input type="hidden" name="tab" value="everything" /><input type="hidden" name="vid" value="01CACCL_LRCCD:flc" /></div>
</form>

<p><a href="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search?vid=01CACCL_LRCCD:flc&amp;lang=en&amp;mode=advanced" target="_blank" title="Advanced Search" rel="noopener">Advanced Search</a></p>

<script>
// note: this js can be left out and form will still function
	// each of our websites uses jQuery so might as well simplify code by using it. If testing this outside of the website, need to include jQuery
	jQuery(document).ready(function ($) { // this is safe way to start jQuery function--sometimes dollar sign is used for other things
		$('#onesearch-form').on('submit', function (e) {
			e.preventDefault();
			var kw = $('#onesearch-query').val();
			var baseURL = $(this).attr('action');
			var hidden = '';
			$('#lib-form-hidden input').each(function () {
				hidden += '&' + $(this).attr('name') + '=' + $(this).val();
			});
			if (kw === '') { // if no query is entered, go to Primo home page
				hidden = hidden.replace(/^&/, '');
				location.href = baseURL + '?' + hidden;
			} else {
				location.href = baseURL + '?query=any,contains,' + kw + hidden;
			}
		});
	});
</script>

<script type="text/javascript">
        // Sets home library cookie so that databases page shows college-specific content. Expires 20 days after being set.
        (function () {
            var myLib = 'flc';
            var d = new Date();
            d.setTime(d.getTime() + 1728000000);
            var expires = 'expires=' + d.toUTCString();
            document.cookie = 'homeLibrary=' + myLib + ';' + expires + ';path=/;domain=losrios.edu';
        })();
</script>
