<form id="onesearch-form" action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" method="get">
	<div>
		<!-- You may change the label's text but you must include a label for ADA compliance. -->
		<label id="onesearch-label" for="onesearch-query">Enter your keywords</label>
	</div>
	
	<!-- hidden below line is mandatory -->
	<input type="hidden" name="query" value="any,contains,">
	<input type="text" name="query" id="onesearch-query">
	
	<!--update per college. value should be arc, crc, flc or scc. -->
	<input type="hidden" name="vid" value="01CACCL_LRCCD:flc">
	<input type="submit" value="Search">

	<!-- radio buttons-->
	<div>
		<input type="radio" name="facet" value="" id="onesearch-everything" selected="selected">
		<label for="onesearch-everything">Everything</label>
		
		<input type="radio" name="facet" value="tlevel,include,available_p" id="onesearch-books-libraries">
		<label for="onesearch-books-libraries">Books &amp; Videos in the Library</label>
		
		<input type="radio" name="facet" value="tlevel,include,peer_reviewed" id="onesearch-scholarly">
		<label type="radio" for="onesearch-scholarly">Scholarly Journals</label>
		
		<input type="radio" name="facet" value="rtype,include,videos" id="onesearch-video">
		<label type="radio" for="onesearch-video">Videos</label>
	</div>
	 
	
	
</form>