<!--Video Contest-->
<p>The Folsom Lake College Library "My Life" Video Contest offers each currently enrolled FLC student the opportunity to submit a short digital story worth telling...yours. The entries will be showcased on the <a href="http://www.youtube.com/user/flclibrary">FLC Library YouTube Channel</a> and all participants and the winning pieces will be celebrated at the "My Life" Premier Night and Award Ceremony on Thursday, April 29, 2010 at Folsom Lake College (Rm. FL1-08).</p>
<p>An encore presentation will take place in the FLC Library Classroom (FL1-35) during college hour (12-1pm) on Tuesday, May 4, 2010.</p>
<p><strong>What is Digital Storytelling?<br /></strong><em>"Digital Storytelling is the modern expression of the ancient art of storytelling. Digital stories derive their power by weaving images, music, narrative and voice together, thereby giving deep dimension and vivid color to characters, situations, experiences, and insights. Tell your story now digitally."</em><em> <br /><br /></em>- Leslie Rule, Digital Storytelling Association</p>
<hr />
<p><strong>Visit our <a href="x3668.xml">Digital Storytelling Resources</a> page for a schedule of workshops at FLC to help you create your video, tips on how to make a digital story, links to royalty-free music, and sample videos. </strong></p>
<hr />
<p><strong>Basic Rules<br /></strong></p>
<ul>
<ul>
<li>Videos must be autobiographical in nature. Showcase your unique personal story, viewpoint, and creative voice. Your digital story can be about your family, education, career, environment, or whatever is important to you. The sky is the limit as long as the story captures some element of who you are.</li>
</ul>
</ul>
<p></p>
<ul>
<li>To enter, you must be a currently enrolled student at Folsom Lake College or one of its outreach centers (El Dorado Center or Rancho Cordova Center) for the Spring 2010 semester. One entry per student.</li>
<li>Videos must be no less than one minute and no more than three minutes, including credits.</li>
<li>All entries must be the original work of the student and must adhere to all copyright laws.</li>
<li>Upload your video to <a href="http://www.youtube.com">YouTube</a>. Contestants will have to create their own YouTube account in order to participate.</li>
<li>Submit your <span style="text-decoration: underline;"><a href="http://wserver.flc.losrios.edu/~contest/EntryForm2010.pdf">Official Entry Form</a></span>, with the URL to your video, no later than <strong>midnight (PST) on Monday, April 5, 2010</strong>. Entrants must read and agree to all contest rules and criteria prior to submission. Entrants will grant FLC Library permission to use the entry for teaching and promotional purposes.</li>
<li>Entries must not be inappropriate, indecent or obscene as determined by the sole discretion of the Contest Committee. Videos that do not satisfy all the foregoing criteria will not be considered in the contest, even if they are submitted and uploaded during the before the submission deadline.</li>
<li>Entries will be judged on originality, creative expression, storytelling and integration of copy and images.</li>
<li>First place winner will receive $100. Second place will receive $50. The third place winner will receive $25. The first three (3) eligible submissions will receive a $20 gift certificate from Best Buy. Honorable mentions will receive a Best Buy goody bag. All contestant will receive a certificate of appreciation for their participation.</li>
</ul>
<p><a href="x3667.xml"><strong>OFFICIAL CONTEST RULES AND ENTRY FORM</strong></a></p>
<p><strong>Contact</strong><br />For additional information, contact <a href="mailto:mendelr@flc.losrios.edu">Rebecca Mendell</a> at (916) 608-6708.</p>
<p><em>This contest seeks to provide students with an exciting, innovative means to pursue excellence and inspire achievement through the creation of their digital stories. The contest will also promote a free exchange of ideas, creativity and perspectives; expose students to new digital technologies; and reinforce that the library serves "as a place of intellectual freedom and educational growth for the Folsom Lake College community" <em>(FLC Library Mission)</em>. </em></p>
<p><strong><em>Thanks to the Folsom Lake College Foundation who provided a mini-grant </em></strong><strong><em>to make this contest happen. </em></strong></p>
<div style="text-align: left;"></div>
<p style="text-align: center;"><strong><em></em></strong><a href="x2692.xml"><img alt="foundationlogo" height="122" src="Images/gateway_pages/Community/foundation_head.png" title="foundationlogo" width="350" /></a></p>
<p style="text-align: center;"><em><strong>Thank you to Best Buy for their donation.</strong></em></p>
<p></p>
<p><a name="categories"></a><strong></strong></p>
<p style="margin: 0in 0in 0.0001pt; text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p></p>

<!--Digital Storytelling Resources-->

<p>When it comes to telling your story digitally, the most important thing is your perspective. It's a way to share your experience, thoughts, emotions and let others get a glimpse of who you are. Digital stories range in their presentation. Some people may choose just to use words and no images. Others may use pictures with a voice-over narration and soundtrack. While some may express their story with music or a performance. We are all uniquely different people, and our stories, even digital ones, are equally unique!</p>
<p><strong>Digital Story Examples</strong><em><br /></em>Get a feel for what makes a great digital story by looking at the showcased videos on the sites below.</p>
<p>Center for Digital Storytelling Featured Videos<br /><a href="http://www.storycenter.org/stories/">http://www.storycenter.org/stories/</a></p>
<p>KQED Digital Storytelling Initiative<br /><a href="http://dsi.kqed.org/index.php/contest/about/C84/">http://dsi.kqed.org/index.php/contest/about/C84/</a></p>
<hr />
<p><strong>How To Guides<br /></strong>Creating a good digital story takes some time and planning. Take a look at these resources to find helpful ways on how to organize your story and use technical elements to enhance your video.</p>
<p>Center for Digital Storytelling Resources<br /><a href="http://www.storycenter.org/resources.html">http://www.storycenter.org/resources.html</a></p>
<p>Digital Storytelling Cookbook<br /><a href="http://www.storycenter.org/cookbook.html">http://www.storycenter.org/cookbook.html</a></p>
<p>Memory's Voices: A Guide to Digital Storytelling<br /><a href="http://www.storycenter.org/memvoice/pages/cookbook.html">http://www.storycenter.org/memvoice/pages/cookbook.html</a></p>
<p>Windows Movie Maker How-to<br /><a href="http://www.microsoft.com/windowsxp/using/moviemaker/default.mspx">http://www.microsoft.com/windowsxp/using/moviemaker/default.mspx</a></p>
<hr />
<p><strong>Free Images and Sounds</strong><br />There are thousands of sites but here are a few to get you started...</p>
<p>Magnatune<br /><a href="http://magnatune.com/info/license">http://magnatune.com/info/license</a></p>
<p>CCMixter<br /><a href="http://ccmixter.org/">http://ccmixter.org/</a></p>
<p>OpenSource Audio at Archive.org:<br /><a href="http://www.archive.org/details/opensource_audio">http://www.archive.org/details/opensource_audio</a></p>
<p>Freeplay Music <br /><a href="http://freeplaymusic.com/">http://freeplaymusic.com/</a></p>
<p>Free Sounds<a href="http://www.freesounds.info/"><br />http://www.freesounds.info/</a></p>
<p>Flickr (look for appropriate creative commons license)<br /><a href="http://www.flickr.com">http://www.flickr.com</a></p>
<p>FreeMedia<a href="http://freemediagoo.com/"><br />http://freemediagoo.com/<br /></a></p>
<hr />
<p><strong>Audio Podcasting</strong><br />If you don't have a computer with a mic, you record your narration by phone.</p>
<p>Yodio<a href="http://www.yodio.com/"><br />http://www.yodio.com/</a></p>
<p>DropIO Voice<br /><a href="http://drop.io/voice">http://drop.io/voice</a></p>
<p>GabCast<a href="http://www.gabcast.com/"><br />http://www.gabcast.com/</a></p>
<hr />
<p><strong>Don't have a computer or equipment to create your video?<br /></strong></p>
<p>Don't worry. You don't have to use video footage in a digital story. Many are made up of photos with voice over narration and music. The FLC Computer Labs have Windows Movie Maker installed on each computer. They also have scanners that you can use to scan in hard copies of pictures if needed. Also, if you don't have access to a computer with a mic to record an audio file, you can use your cell phone and audio podcasting tools online to record your narration over the phone and save it to your computer.</p>
<p><a href="x3667.xml">RETURN TO CONTEST PAGE</a></p>

<!--Official Contest Rules-->
<p class="body"><strong>CONTEST PERIOD<br /></strong>The Contest begins at midnight (PST) on February 18, 2010. Entries must be received by <strong>midnight (PST) on Monday, April 5, 2010</strong>. Judging of entries will begin Tuesday, April 6, 2010. Winners will be notified by email by April 23, 2010.</p>
<p class="body">Entries selected as finalists will be shown at the "My Life" Premier Night and Awards Ceremony at Folsom Lake College on Thursday, April 29, 2010. An encore presentation will take place in the FLC Library Classroom (FL1-35) during college hour (12-1pm) on Tuesday, May 4, 2010.</p>
<p class="body"><strong>HOW TO ENTER THE CONTEST</strong><br />To enter the contest you must create a video of no less than one minute up to a maximum of three minutes in length. <strong>Videos must be autobiographical in nature</strong>. Showcase your unique personal story, viewpoint, and creativity. Your digital story can be about your family, education, career, environment, and more. The sky is the limit as long as the story captures some element of who you are.</p>
<p class="body">All entries must be the original work of the student submitting the video. Students with disabilities may receive technical assistance from othes.</p>
<p class="body">To upload your video during the entry period, register for a <a href="http://www.youtube.com">YouTube</a> account and follow the directions to post your video to your account.</p>
<p class="body">Complete the online <a href="http://wserver.flc.losrios.edu/~contest/EntryForm2010.pdf"><strong>Official Entry Form</strong></a>, with the URL to your video, no later than midnight (PST) on Monday, April 5, 2010. Once the completed entry is received, your video will be posted to the <a href="http://www.youtube.com/user/flclibrary">FLC Library YouTube Channel</a>. All entries are subject to screening by the Contest Committee before they are posted to the library's channel.</p>
<p class="body">By entering the contest, submitters will grant the Folsom Lake College Library permission to use the entry for teaching and promotional purposes.</p>
<p class="body"><strong>Eligibility<br /></strong>To enter, you must be a currently enrolled student at Folsom Lake College or one of its outreach centers (El Dorado Center or Rancho Cordova Center) for the Spring 2010 semester. Entrants must read and adhere to all official contest rules, submission and judging criteria, and all other applicable Folsom Lake College and Los Rios Community College District Policies in order to be eligible.</p>
<p class="body"><strong>Limit<br /></strong>One entry per student.</p>
<p class="body"><strong>Deadline<br /></strong>All entries must be submitted by midnight (PST) Monday, April 5, 2010. Folsom Lake College is not responsible for late, lost, stolen, misdirected, damaged, incomplete or illegible entries.</p>
<p class="body"><strong>Video Guidelines<br /></strong>Videos must be no less than one minute and no more than three minutes, including credits. If you've never made a video before or need to refresh your skills, visit the <a href="x3668.xml">Digital Storytelling Resource</a> page.</p>
<p class="body">All entries must comply with YouTube&rsquo;s acceptance policies. YouTube accepts video files from most digital cameras, camcorders, and cell phones in the .WMV, .AVI, .MOV, and .MPG file formats. All videos uploaded to YouTube have a 100MB file size limit.</p>
<p class="body">All entries must comply with the Terms of Use and Code of Conduct of YouTube. Entries must not be inappropriate, indecent or obscene as determined by the sole discretion of the Contest Committee. Videos that do not satisfy all criteria will not be considered in the contest, even if they are submitted and uploaded before the deadline.</p>
<p></p>
<p class="body"><strong>Copyright</strong><br />Entry must adhere to all applicable <a href="http://www.copyright.gov/">copyright laws</a> (including for the use of music, images, etc). Video must be the creation of contestants and not infringe on the copyright of a third party. <em><strong>Most music is copyrighted, so make sure you have permission prior to using a song, or use some of the royalty-free music found on the sites on our <a href="x3668.xml">Digital Storytelling Resource</a> page.</strong></em> All Entries submitted to the contest must be original. You must be the sole owner of any copyright and all other intellectual property rights in and to any video submitted. Your submission is your acknowledgement, warranty and guarantee that you are the author, creator and/ or sole owner of copyright(s) and other intellectual property rights in and to the video submitted. If the ownership of any entry is contested in any manner, the Contest Committee may disqualify that entry.</p>
<p class="body"><strong>Privacy &amp; Safety Policy<br />PLEASE</strong> respect the privacy of others and don&rsquo;t film them without asking for permission first. It is recommended that you use the Folsom Lake College <a href="Documents/Student Services/Library/FLC/PersonalRelease.pdf"><span style="text-decoration: underline;">release form</span></a> for all individuals featured in your video. Keep a copy for your records.</p>
<p class="body"><em><strong>Safety is paramount. Do NOT put yourself or others in danger to make your video. Any entries in which the safety of the subjects is questionable will be immediately disqualified.</strong></em></p>
<p class="body"><strong>Awards</strong><br />First place winner will receive $100. Second place will receive $50. The third place winner will receive $25. All entrants will receive a certificate of appreciation for their participation. The <strong>first 3 eligible submissions</strong> will receive a $20 gift certificate from Best Buy. Honorable mentions will receive a Best Buy goody bag. All entrants will receive a certificate of appreciation for their participation. Awards may be augmented if additional sponsorship is obtained prior to the submission deadline.</p>
<p class="body"><strong>Judging and Notification</strong><br />Entries will be judged by members of the Contest Committee on originality, creative expression, and storytelling. The Contest Committee is composed of members of the Folsom Lake College student body, faculty, staff and administration. Entries will be judged on the following:</p>
<p class="body" style="margin-left: 0.5in;">Originality and creativity<br />Clear message/story<br />Autobiographical focus of the piece<br />Use of relevant technology</p>
<p class="body">For the full judging criteria, <a href="Documents/Student Services/Library/FLC/JudgingCriteria.pdf">download here</a>.</p>
<p class="body"><strong>Selection of the Winner<br /></strong>The Folsom Lake College community is encouraged to visit the <a href="http://www.youtube.com/user/flclibrary">FLC Library You Tube Channel</a>, and post comments about the videos. The first place winner is the finalist who receives the highest score of the three finalists. In the event that there is a tie for the highest number of votes between more than one finalist, the Contest Committee will vote to break the tie. Winners will be notified by email by April 23, 2010.</p>
<p class="body">Entries selected as finalists will be shown at the "My Life" Premier Night and Awards Ceremony at Folsom Lake College on Thursday, April 29, 2010. An encore presentation will take place in the FLC Library Classroom (FL1-35) during college hour (12-1pm) on Tuesday, May 4, 2010.</p>
<p class="body" style="margin: 0in 0in 0.0001pt; text-align: justify;"><a name="categories"></a>FLC reserves the right to disqualify any entrant found to be violating the official contest rules, regulations and/or policies of Folsom Lake College and/or the Los Rios Community College District.</p>
<p class="body"><strong>Contact</strong><br />For additional questions contact Rebecca Mendell at (916) 608-6708.</p>
<p class="body"><br /><strong><em>Thanks to the Folsom Lake College Foundation who provided a mini-grant for FLC Library to make this contest happen.</em></strong></p>