<!--Primo VE reserves search form; last updated 10/2019-->

<!-- Ingeniux websites will include useful classes for styling these elements. If the stylesheet has classes for alerts, add them to the elements that currently have the class ` errortext `. The following styles can likely be deleted -->
<style>
	#libres-reservessearch label,
	#libres-reservessearch input[type="submit"] {
		display: block;
	}
</style>

<!-- form will function properly without JS although query will look weird in Primo VE search box; JS allows validation and prettier query -->
<!-- value of data-college should be arc, crc, flc or scc -->
<form method="get" action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" id="libres-reservessearch" data-college="flc">
	
	<input type="hidden" name="query" value="any,contains,">
	<label for="libres-department">Department (e.g. Math)</label>
	
	<!-- this is a very long select box so should be enhanced - check into jQuery UI or other solutions -->
	<select class="input-medium" id="libres-department" name="query">
		<option selected="selected" value="">Select</option>
		
		<option value="ACCT">Accounting (ACCT)</option>
		<option value="ADMJ">Administration of Justice (ADMJ)</option>
		<option value="AH">Allied Health (AH)</option>
		<option value="ANTH">Anthropology (ANTH)</option>
		<option value="ART">Art (ART)</option>
		<option value="ARTH">Art History (ARTH)</option>
		<option value="ASTR">Astronomy (ASTR)</option>
		<option value="BIOL">Biology (BIOL)</option>
		<option value="BUS">Business (BUS)</option>
		<option value="BUSTEC">Business Technology (BUSTEC)</option>
		<option value="CHEM">Chemistry (CHEM)</option>
		<option value="CISA">Computer Info Science - Apps (CISA)</option>
		<option value="CISC">Computer Info Science - Core (CISC)</option>
		<option value="CISP">Computer Info Science - Program (CISP)</option>
		<option value="COMM">Communication (COMM)</option>
		<option value="DANCE">Dance (DANCE)</option>
		<option value="ECE">Early Childhood Education (ECE)</option>
		<option value="ECON">Economics (ECON)</option>
		<option value="EMT">Emergency Medical Technician (EMT)</option>
		<option value="ENGR">Engineering (ENGR)</option>
		<option value="ENGCW">English Creative Writing (ENGCW)</option>
		<option value="ENGED">English Education (ENGED)</option>
		<option value="ENGLB">English Laboratory (ENGLB)</option>
		<option value="ENGLT">English Literature (ENGLT)</option>
		<option value="ENGRD">English Reading (ENGRD)</option>
		<option value="ENGWR">English Writing (ENGWR)</option>
		<option value="ESL">English as a Second Language (ESL)</option>
		<option value="ESLG">ESL Grammar (ESLG)</option>
		<option value="ESLL">ESL Listening (ESLL)</option>
		<option value="ESLR">ESL Reading (ESLR)</option>
		<option value="ESLW">ESL Writing (ESLW)</option>
		<option value="ENVT">Environmental Technology (ENVT)</option>
		<option value="FITNS">Fitness (FITNS)</option>
		<option value="FREN">French (FREN)</option>
		<option value="GEOG">Geography (GEOG)</option>
		<option value="GEOL">Geology (GEOL)</option>
		<option value="GERON">Gerontology (GERON)</option>
		<option value="HEED">Health Education (HEED)</option>
		<option value="HIST">History (HIST)</option>
		<option value="HORT">Horticulture (HORT)</option>
		<option value="HCD">Human/Career Development (HCD)</option>
		<option value="HUM">Humanities (HUM)</option>
		<option value="IMAGE">Imaging (IMAGE)</option>
		<option value="JOUR">Journalism (JOUR)</option>
		<option value="KINES">Kinesiology & Athletics (KINES)</option>
		<option value="LTAT">Learning, Tutoring & Academic Technology (LTAT)</option>
		<option value="LIBR">Library (LIBR)</option>
		<option value="MATH">Mathematics (MATH)</option>
		<option value="MEDTEC">Medical Technology (MEDTEC)</option>
		<option value="MGMT">Management (MGMT)</option>
		<option value="MKT">Marketing (MKT)</option>
		<option value="MAKR">Modern Making (MAKR)</option>
		<option value="MUFHL">Music Fundamentals, History & Literature (MUFHL)</option>
		<option value="MUIVI">Instrumental/Voice Instruction (MUIVI)</option>
		<option value="MUSM">Specializations in Music (MUSM)</option>
		<option value="NUTRI">Nutrition and Foods (NUTRI)</option>
		<option value="PHIL">Philosophy (PHIL)</option>
		<option value="PHOTO">Photography (PHOTO)</option>
		<option value="PHYS">Physics (PHYS)</option>
		<option value="POLS">Political Science (POLS)</option>
		<option value="PRJMGT">Project Management (PRJMGT)</option>
		<option value="PSYC">Psychology (PSYC)</option>
		<option value="RE">Real Estate (RE)</option>
		<option value="SILA">Sign Language Studies (SILA)</option>
		<option value="SWHS">Social Work/Human Services (SWHS)</option>
		<option value="SOC">Sociology (SOC)</option>
		<option value="SPAN">Spanish (SPAN)</option>
		<option value="SPORT">Sports (SPORT)</option>
		<option value="STAT">Statistics (STAT)</option>
		<option value="TA">Theatre Arts (TA)</option>
		<option value="TAP">Theatre Arts Performance (TAP)</option>
		<option value="TMACT">Team Activities (TMACT)</option>
		<option value="VITI">Viticulture (VITI)</option>
		<option value="WEXP">Work Experience (WEXP)</option>
	</select>

	<label for="libres-coursenumber">Number (e.g. 300)</label>
	<input id="libres-coursenumber" name="query" placeholder="e.g. 300" title="Examples: 101, 300, 312. If you're not sure, leave it blank." type="text">
	<!-- errors are revealed conditionally upon form submission -- feel free to edit text -->
	<div id="libres-coursenumber-error" class="errortext" style="display:none;">The course number is usually 2 or 3 digits. Examples are 100, 300, and 310. If you&apos;re not sure, leave it blank.</div>
	
	<label for="libres-profname">Professor's Last Name</label>
	<!-- autocomplete="off" allows autosuggest enhancement. If not using, consider removing the attribute -->
	<input autocomplete="off" id="libres-profname" name="query" placeholder="Last name only" type="text">
	<div id="libres-profname-error" class="errortext" style="display:none;">Please type <em>only the last name</em>, with no spaces or punctuation. If you&apos;re not sure, leave it blank.</div>
	
	<input name="query" type="hidden" value="&quot;on reserve&quot;">
	
	<input name="query" type="hidden" value="(flc OR edc)">
	
	<input name="tab" type="hidden" value="everything">

	<input type="hidden" name="search_scope" value="flc_everything">
	
	<input type="hidden" name="vid" value="01CACCL_LRCCD:flc">
	
	<input type="submit" value="Find It">

</form>

<!-- only include jQuery for testing on separate web page -- websites already include jQuery so delete next line when inserting into CMS.  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- the following script does not need per-college editng because it relies on the value given in the form element data-college attribute. It can be incorporated into a separate file or included on the page. It can be run through a minifier if desired. -->
<script>
jQuery(document).ready(function ($) {
	var college = $('#libres-reservessearch').data('college'); // grab value from form element.
	var colQuery = college;
	if (college === 'flc') {
		colQuery = '(flc OR edc)'; // exception for flc view, which also searches edc
	}


	var validate = function () {
		// clear any existing errors
		$('.error').removeClass('error');
		$('.errortext').hide().removeAttr('role');

		var numExp = /^[0-9]{2,3}([.][0-9]{1})?$/; // checks for proper form of number -- includes odd things like 300.1
		var alphaExp = /^\s*[A-Za-z-_\']+$/; // checks for single alpha string, no spaces
		var courseNum = $('#libres-coursenumber');
		var profName = $('#libres-profname');
		var course = courseNum.val().trim();
		var prof = profName.val().trim();

		if ((course !== '') && (numExp.test(course) === false)) {
			$('#libres-coursenumber-error').show().attr('role', 'alert');
			courseNum.addClass('error').select();
		} else if ((prof !== '') && (alphaExp.test(prof) === false)) {
			$('#libres-profname-error').show().attr('role', 'alert');
			profName.addClass('error').select();
		} else {
			// if no errors, go to Primo VE view with requested parameters
			var omitEmpties = function (str) { // insert spaces only when there's actually a value
				if (str !== '') {
					return str + ' ';
				} else {
					return '';
				}
			};
			var query = omitEmpties($('#libres-department').val()) + omitEmpties(course) + omitEmpties(prof) + '"on reserve" ' + colQuery;
			location.href = 'https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search?query=any,contains,' + encodeURIComponent(query) + '&tab=everything&search_scope=' + college + '_everything&vid=01CACCL_LRCCD:' + college;
		}
	};
	$('#libres-reservessearch').submit(function (e) {
		// prevent form from submitting
		e.preventDefault();
		// run validator
		validate();
	});
});
</script>