<!--Reserves search form ARC; last updated Spring 2019-->
<p>Most textbooks are available in the library for a two-hour checkout. They are held in the Course Reserves behind the Circulation Desk.</p>
<p>Find your textbook here:</p>
<!--Reserves search form ARC; last updated FA18-->
<div id="reserves-search-form"><form action="https://search.ebscohost.com/" id="reservessearch" name="reservessearch"><input name="authtype" type="hidden" value="ip,guest" /> <input name="direct" type="hidden" value="true" /> <input name="custid" type="hidden" value="amerriv" /> <input name="site" type="hidden" value="eds-live" /> <input name="groupid" type="hidden" value="main" /> <input name="profile" type="hidden" value="eds" /> <input name="cli0" type="hidden" value="FC" /> <input name="clv0" type="hidden" value="Y" /> <!--Update department listings-->
<div class="column1"><strong style="padding-left: 15px;"><label for="Department">Department (e.g. Math) </label></strong><select class="input-medium" id="Department" name="bquery">
<option selected="selected" value="">Select</option>
<option value="ACCT">ACCT - Accounting</option>
<option value="ACT">ACT - Auto Collision Technology</option>
<option value="ADAPT">ADAPT - Adapted Physical Education</option>
<option value="ADMJ">ADMJ - Administration of Justice</option>
<option value="AH">AH - Allied Health</option>
<option value="ANTH">ANTH - Anthropology</option>
<option value="ART">ART - Art</option>
<option value="ARTH">ARTH - Art History</option>
<option value="ARTNM">ARTNM - Art New Media</option>
<option value="ARTPH">ARTPH - Art Photography</option>
<option value="ASTR">ASTR - Astronomy</option>
<option value="AT">AT - Automotive Technology</option>
<option value="BIOL">BIOL - Biology</option>
<option value="BIOT">BIOT - Biotechnology</option>
<option value="BUS">BUS - Business</option>
<option value="BUSTEC">BUSTEC - Business Technology</option>
<option value="CARPT">CARPT - Carpenters Apprenticeship</option>
<option value="CHEM">CHEM - Chemistry</option>
<option value="CHP">CHP - California Highway Patrol</option>
<option value="CISA">CISA - Computer Info Science - Apps</option>
<option value="CISC">CISC - Computer Info Science - Core</option>
<option value="CISN">CISN - Computer Info Science-Network</option>
<option value="CISP">CISP - Computer Info Science -Program</option>
<option value="CISS">CISS - Computer Info Sci - Security</option>
<option value="CISW">CISW - Computer Info Science - Web</option>
<option value="DANCE">DANCE - Dance</option>
<option value="DCDT">DCDT - Diesel/Clean Diesel Technology</option>
<option value="DEAF">DEAF - ASL-Deaf Culture and ASL Studies</option>
<option value="DESGN">DESGN - Design Technology</option>
<option value="DRLTH">DRLTH - Drywall/lathing</option>
<option value="ECE">ECE - Early Childhood Education</option>
<option value="ECON">ECON - Economics</option>
<option value="ELECT">ELECT - Electricians Apprenticeship</option>
<option value="EMT">EMT - Emergency Medical Technology</option>
<option value="ENERGY">ENERGY - Energy</option>
<option value="ENGCW">ENGCW - English - Creative Writing</option>
<option value="ENGED">ENGED - English - Education</option>
<option value="ENGLT">ENGLT - English - Literature</option>
<option value="ENGR">ENGR - Engineering</option>
<option value="ENGRD">ENGRD - English - Reading</option>
<option value="ENGWR">ENGWR - English - Writing</option>
<option value="ESL">ESL - ESL - English as a Second Lang</option>
<option value="ESLG">ESLG - ESL - Grammar</option>
<option value="ESLL">ESLL - ESL - Listening</option>
<option value="ESLR">ESLR - ESL - Reading</option>
<option value="ESLW">ESLW - ESL - Writing</option>
<option value="ET">ET - Electronics Technology</option>
<option value="FASHN">FASHN - Fashion</option>
<option value="FIRE">FIRE - Fire Training Center</option>
<option value="FITNS">FITNS - Fitness</option>
<option value="FREN">FREN - French</option>
<option value="FSE">FSE - Funeral Service Education</option>
<option value="FT">FT - Fire Technology</option>
<option value="GEOG">GEOG - Geography</option>
<option value="GEOL">GEOL - Geology</option>
<option value="GERM">GERM - German</option>
<option value="GERON">GERON - Gerontology</option>
<option value="HCD">HCD - Human Career Development</option>
<option value="HCI">HCI - Healthcare Interpreting</option>
<option value="HEED">HEED - Health Education</option>
<option value="HIST">HIST - History</option>
<option value="HLACT">HLACT - Human Lactation</option>
<option value="HLS">HLS - Homeland Security</option>
<option value="HM">HM - Hospitality Management</option>
<option value="HORT">HORT - Horticulture</option>
<option value="HSER">HSER - Human Services</option>
<option value="HUM">HUM - Humanities</option>
<option value="IDES">IDES - Interior Design</option>
<option value="INDIS">INDIS - Interdisciplinary Studies</option>
<option value="IS">IS - International Studies</option>
<option value="INTRP">INTRP - Sign Language Interpreting</option>
<option value="ITAL">ITAL - Italian</option>
<option value="IW">IW - Iron Workers</option>
<option value="JOUR">JOUR - Journalism</option>
<option value="KINES">KINES - Kinesiology</option>
<option value="&lsquo;LA&rsquo;">LA - Legal Assisting</option>
<option value="LIBR">LIBR - Library</option>
<option value="MATH">MATH - Mathematics</option>
<option value="MGMT">MGMT - Management</option>
<option value="MKT">MKT - Marketing</option>
<option value="MUFHL">MUFHL - Music Fndmntals, History &amp; Lit</option>
<option value="MUIVI">MUIVI - Instrumental/Voice Instruction</option>
<option value="MUP">MUP - Music Performance</option>
<option value="MUSM">MUSM - Specializations in Music</option>
<option value="NATR">NATR - Natural Resources</option>
<option value="NURSE">NURSE - Nursing</option>
<option value="NUTRI">NUTRI - Nutrition and Foods</option>
<option value="PACT">PACT - Personal Activities</option>
<option value="PHIL">PHIL - Philosophy</option>
<option value="PHYS">PHYS - Physics</option>
<option value="PMED">PMED - Paramedics</option>
<option value="POLS">POLS - Political Science</option>
<option value="PREAP">PREAP - Pre-Apprenticeship</option>
<option value="PROPTX">PROPTX - Property Tax</option>
<option value="PSTC">PSTC - Public Safety Training Center</option>
<option value="PSYC">PSYC - Psychology</option>
<option value="RAD">RAD - Reading Across the Disciplines</option>
<option value="RC">RC - Respiratory Care</option>
<option value="RE">RE - Real Estate</option>
<option value="RECR">RECR - Recreation</option>
<option value="SGVT">SGVT - Student Government</option>
<option value="SHME">SHME - Sheet Metal Apprenticeship</option>
<option value="SILA">SILA - Sign Language Studies</option>
<option value="SLPA">SLPA - Speech-Language Pathology</option>
<option value="SMTEC">SMTEC - Sheet Metal Tech Apprenticeshp</option>
<option value="SOC">SOC - Sociology</option>
<option value="SOCSC">SOCSC - Social Science</option>
<option value="SPAN">SPAN - Spanish</option>
<option value="SPD">SPD - Sacramento Police Department</option>
<option value="SPEECH">SPEECH - Speech</option>
<option value="SPORT">SPORT - Sports</option>
<option value="SRCP">SRCP - Saco Regional Chaplains' Prog</option>
<option value="STAT">STAT - Statistics</option>
<option value="TA">TA - Theatre Arts</option>
<option value="TECCOM">TECCOM - Technical Communications</option>
<option value="TMACT">TMACT - Team Activities</option>
<option value="WELD">WELD - Welding</option>
<option value="WEXP">WEXP - Work Experience</option>
</select></div>
<div class="column1"><label for="CourseNumber"><br /><strong style="padding-left: 15px;">Number (e.g. 300)&nbsp; </strong></label><input id="CourseNumber" name="bquery" title="Examples: 101, 300, 312. If you're not sure, leave it blank." type="text" /></div>
<div class="column1"><label for="ProfessorsLastName"><br /><strong style="padding-left: 15px;">Professor's Last Name</strong></label> <input class="typeahead" id="ProfessorsLastName" name="bquery" type="text" /></div>
<div class="column1"><label for="TitleWords" title="Author's last name or book title, or leave it blank. No edition numbers, and no typos."><br /><strong style="padding-left: 15px;">Title or author (optional) </strong></label> <input id="TitleWords" name="bquery" type="text" /></div>
<input name="bquery" type="hidden" value=" &quot;on reserve&quot;" /> <input name="bquery" type="hidden" value="arc" />
<div id="submit-area" style="padding-left: 15px;"><br /> <input class="reservessubmit" id="reservessubmit-arc" type="submit" value="Find It" /></div>
</form></div>
<p>
<script type="text/javascript">// <![CDATA[
var department = document.getElementById('Department');
		var courseNum = document.getElementById('CourseNumber');
		var profName = document.getElementById('ProfessorsLastName');
		var keywords = document.getElementById('TitleWords');
		var college = '(arc)';
		var custid = 'amerriv';
		var framed = 'no';
	

		function showError(field, text, eventLabel) {
		
		// ga('localsiteTracker.send', 'event', 'home-search-widget', 'error', eventLabel );
			var formDiv = document.getElementById('reserves-search-form');
			var errorDiv = document.createElement('div');
			errorDiv.setAttribute('class', 'errortext');
			field.className += ' error';
			formDiv.appendChild(errorDiv);
		
		//  formDiv.insertBefore(errorDiv, formDiv.childNodes[0]);
			errorDiv.innerHTML = text;
			field.select();
		}

		function reserveQValidator() {
			var msg = document.querySelector('.errortext');
			var errDiv = document.querySelector('.error');
			
			if (msg) {
				msg.parentNode.removeChild(msg);
				var classRestore = errDiv.className.replace(/error/, '');
				errDiv.setAttribute('class', classRestore);
			}
  
			var numExp = /^[0-9]{2,3}([.][0-9]{1})?$/;
			var alphaExp = /^\s*[A-Za-z-_\']+$/;
			var courseNum = document.getElementById('CourseNumber');
			var profName = document.getElementById('ProfessorsLastName');
			var x = courseNum.value;
			var y = profName.value;
  
			if ((x !== '') && (numExp.test(x) === false)) {
				showError(courseNum, 'The course number is usually 2 or 3 digits. Examples are 100, 300, and 310. If you are not sure, leave it blank.', 'reserves - course number');
				return false;
			}
  			else if ((y !== '') && (alphaExp.test(y) === false)) {
				showError(profName, 'Please type <em>only the last name</em>, with no spaces or punctuation. If you are not sure, leave it blank.', 'reserves - prof names');
				return false;
			}
			else {
				var query = department.value+' '+courseNum.value+' '+profName.value+' '+keywords.value+' "on reserve" '+college;
				reserveSearch(query);
				return false;
			}
		}

		function reserveSearch(query) {
			location.href='https://search.ebscohost.com/login.aspx?authtype=ip,guest&direct=true&custid='+custid+'&groupid=main&profile=eds&site=ed-live&scope=site&cli0=FC&clv0=Y&bquery='+encodeURIComponent(query); 
			console.log(query);
			return false;
		}
		
		$(document).ready(function() {
			$( '#reservessearch' ).submit(function(event) {
				reserveQValidator();
					if (framed === 'no') { // when it is in guide on the side, will open in new window
						event.preventDefault();
					}
				});
			});
// ]]></script>
</p>
<hr align="center" width="200" />
<p>&nbsp;</p>
<p><strong>Course Reserves - Q&amp;A for Students</strong></p>
<p><em>What are Course Reserves?&nbsp;</em><br /> Course Reserves allow instructors to make course material available to all students in their classes. Items that may be placed on reserve include books, articles, chapters, videos, class notes, study guides and other course material. Both library-owned and instructor-owned material may be placed on reserve. If the library does not own a copy of your textbook, please ask your instructor if he/she has a copy for library use.<br /><br /><em></em><em>Current editions only.</em>&nbsp; <br />Older editions of current textbooks are not placed on reserve. The most recent previous edition of a textbook may be placed in the library's circulating collection for three-week checkout.<br /><br /><em>How long can a reserve item be checked out for?&nbsp;</em><br /> Most items have a two-hour loan period, although some go out for longer.<br /><br /> <em>Where are reserve items located?</em>&nbsp;<br /> Course reserves are kept behind the Circulation Desk and are not available for browsing. Students must bring the appropriate call number to the Circulation Desk to retrieve the item.<br /><br /><em><em>Can reserve material be taken out of the library?</em><br /> </em>Some of the library's textbooks have a two-hour or longer check-out period and are allowed to leave the building during the day and overnight. Textbooks designated as library use only will have a "LIB USE ONLY" notation placed on the item record and a "Library Use Only" sticker on the cover of the textbook.&nbsp; Those textbooks allowed to leave the building have an hourly checkout slip indicating when the item is due back. Failure to return these textbooks on time may result in the loss of textbook checkout privileges. Library fines apply to late returns. <br /><em><br />Please note: No reserves books are allowed to leave the library building during the first two weeks or the last two weeks of the semester.<br /><br /> </em></p>